<!DOCTYPE html>
<html lang="en">
<head id="header">
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>
    <header></header>

    <main>
         <header>
             <h1>첫번째 글</h1>
         </header>

        <aside>
            <p>dohyoup</p>
            <p><a rel="me" href="mailto:dohyoup@gmail.com">dohyoup@gmail.com</a></p>
            <p><time datetime="2024-10-31T00:00:00">2024-10-31</time></p>
            <p>#java</p>
        </aside>

        <section>
            <p>본문<br><br></p>

            <div>
                <form>
                    <label for="articleComment" hidden></label>
                    <textarea id="articleComment" placeholder="댓글 쓰기.." row="3"></textarea>
                    <button type="submit">쓰기</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2024-10-31</small></time>
                            <strong>Dohyoup</strong>
                            <p>
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2024-10-31</small></time>
                            <strong>Dohyoup</strong>
                            <p>
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav class="page-pagination" role="navigation">
                <a class="page-previous" href="#">이전 글</a>
                <a class="page-next" href="#">다음 글</a>
            </nav>
        </section>

    </main>

    <footer id="footer"></footer>
</body>
</html>